.customOptions {
  ::global {
    z-index: 1 !important;
    background-color: #ffffff !important;
    border: 1px solid #5585ce !important;
    border-top: none !important;
    border-radius: 0px 0px 20px 20px !important;
    top: 200px !important;
    .rc-virtual-list-holder-inner {
      margin-top: 16px !important;
      .ant-select-item-option-selected {
        color: #00a0d7;
        background-color: #f0f0f0;
      }
    }
  }
}
