.inputRadioCustom {
  :global {
    .ant-radio-inner {
      height: 20px;
      width: 20px;
      border-color: #333 !important;
    }
    .ant-radio-checked {
      .ant-radio-inner {
        &:after {
          background: #333;
        }
      }
    }
  }
}
