.resetPw {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;

  .resetForm {
    display: flex;
    align-items: center;
    padding: 4.5rem 5rem;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 18%);
    background-color: #fff;

    form {
      h1 {
        font-weight: 700 !important;
        font-size: 22px;
        line-height: 32px;
        color: #13202f;
        text-align: justify;
      }

      :global {
        .ant-form-item {
          .ant-row {
            label {
              margin-bottom: 10px;
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
              color: #13202f;
            }

            .ant-input-affix-wrapper {
              border-radius: 30px;
              height: 44px;
              padding: 0 16px;
            }
          }
        }

        .ant-form-item-explain-error {
          text-align: justify;
        }
      }

      .inputFirst {
        :global {
          .ant-form-item-explain-error {
            display: none !important;
          }
        }
      }

      button {
        width: 100%;
        border: 0;
        border-radius: 30px;
        height: 46px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        p {
          text-align: center;
        }
      }
    }
  }
}
