.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 100%;
  margin: auto;

  .loginBody {
    width: 40%;
    margin: auto;
    padding: 4.5rem 5rem;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    h3 {
      text-align: center;
      font-weight: 700 !important;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: #000000;
    }
    form {
      :global {
        .ant-form-item {
          .ant-row {
            input {
              border-radius: 30px;
              height: 44px;
              padding: 0 16px;
            }
            .ant-input-affix-wrapper {
              border-radius: 30px;
              padding: 0 16px;
            }
          }
        }
      }
    }
    button {
      width: 100%;
      height: 46px;
      font-size: 16px;
      font-weight: 700;
      border-radius: 30px;
      p {
        text-align: center;
        margin-bottom: 0;
      }
    }

    .linkTab {
      margin: 30px 0;
      text-align: center;
      cursor: pointer;
      text-decoration: underline;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #222222;
    }

    .forgotPassword {
      margin-top: 25px;
      margin-bottom: 0px !important;
      text-align: center;
    }
  }
}
