.roomsPage {
  & > div {
    &:first-child {
      h1 {
        line-height: 450px;
        font-weight: 500;
        padding-bottom: 2px;
        background-image: linear-gradient(red, blue);
        background-position: 0 100%;
        background-size: 0 2px;
        background-repeat: no-repeat;
        transition: background-size 0.3s, background-position 0s 0.5s;
        cursor: pointer;
        &:hover {
          background-position: 100% 100%;
          background-size: 100% 2px;
        }
      }
    }
  }
  .roomsList {
    & > div {
      width: 90%;
      align-items: center;
      margin: 30px auto;
      box-shadow: 0 15px 35px 0 rgb(0 29 44 / 10%);
      border: 1px solid #cecece;

      .imageRoom {
        display: table-cell;
        vertical-align: middle;
        width: 25%;
        img {
          width: 100%;
        }
      }
      .infoRoom {
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
      }
      .priceRoom {
        width: 25%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        border-left: 1px solid #dce0e2;
        h2 {
          font-family: unset;
          font-weight: 500 !important;
        }
      }
      button {
        p {
          margin-bottom: 0;
          padding: 5px 20px;
        }
        border: 1px solid #c19b76;
        &:hover {
          background: #fff !important;
          color: #c19b76 !important;
          border: 1px solid #c19b76;
        }
      }
    }
  }
}
