.roomsPage {
  & > div {
    &:first-child {
      h1 {
        line-height: 450px;
        font-weight: 500;
        padding-bottom: 2px;
        background-image: linear-gradient(red, blue);
        background-position: 0 100%;
        background-size: 0 2px;
        background-repeat: no-repeat;
        transition: background-size 0.3s, background-position 0s 0.5s;
        cursor: pointer;
        &:hover {
          background-position: 100% 100%;
          background-size: 100% 2px;
        }
      }
    }
  }
  .searchKey {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      & > div {
        width: 50%;
        margin-bottom: 0;
      }
      button {
        height: 40px;
        margin: 0 20px;
        border-radius: 5px;
        p {
          margin-bottom: 0;
          padding: 0 30px;
        }
      }
    }
    .btnBook {
      margin: auto;
      width: 30%;

      button {
        width: 100%;
        margin: auto;
        background-color: transparent;
        border: 1px solid #a98662;
        transition: all 0.5s;
        // padding: 10px 20px;
        border-radius: 5px;

        p {
          margin-bottom: 0;
          text-align: center;
          span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            font-weight: 600;

            &:after {
              content: "\00bb";
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }
          }
        }
      }
      button:hover span {
        padding-right: 25px;
        color: #fff;
      }
      button:hover {
        padding-right: 25px;
        background-color: #b56953 !important;
        color: #fff;
      }

      button:hover span:after {
        opacity: 1;
        right: 0;
      }
      :global {
        .ant-form {
          & > div {
            width: 100%;
            margin: 10px 0;
          }
          button {
            width: 100%;
            margin: auto;
            margin-top: 10px;
            p {
              margin-bottom: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .roomsList {
    & > div {
      width: 90%;
      align-items: center;
      margin: 30px auto;
      box-shadow: 0 15px 35px 0 rgb(0 29 44 / 10%);
      border: 1px solid #cecece;

      .imageRoom {
        display: table-cell;
        vertical-align: middle;
        width: 25%;
        img {
          width: 100%;
        }
      }
      .infoRoom {
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
      }
      .priceRoom {
        width: 25%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        border-left: 1px solid #dce0e2;
        h2 {
          font-family: unset;
          font-weight: 500 !important;
        }
      }
      button {
        p {
          margin-bottom: 0;
          padding: 5px 20px;
        }
        border: 1px solid #c19b76;
        &:hover {
          background: #fff !important;
          color: #c19b76 !important;
          border: 1px solid #c19b76;
        }
      }
    }
  }
}
