.header-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  background-color: #abcfcc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .header-left {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3%;
    z-index: 1;

    img {
      height: auto;
      object-fit: contain;
      max-width: 100%;
      width: 60%;
    }
  }
  .header-center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header-right {
    display: flex;
    align-items: center;

    .ant-dropdown-trigger {
      display: flex;
      align-items: center;
      color: #000;

      .ant-space-item {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000;
      }
    }
  }
}

:global {
  .ant-dropdown {
    .ant-dropdown-menu {
      display: block !important;
    }
  }
}
