@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: inherit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace, inherit;
}
button {
  border: none;
  cursor: pointer;
}
.w-60 {
  width: 60%;
}
.m-auto {
  margin: auto;
}
.p-5 {
  padding: 50px;
}

h2 {
  font-size: 40px;
  font-weight: 800 !important;
  text-transform: capitalize;
  line-height: 45px;
}
h3 {
  font-size: 25px;
  font-weight: 600 !important;
  text-transform: capitalize;
  line-height: 45px;
}
h4 {
  font-size: 20px;
  font-weight: 300 !important;
  text-transform: capitalize;
}
h5 {
  font-size: 18px;
  font-weight: 300 !important;
  line-height: 40px;
  margin-bottom: 0;
}
p{
  text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}